<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DeepBreath</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css"
        <link rel="stylesheet" href="https://use.typekit.net/ufu0kna.css">
    </head>
    <body>
        <header>
            
            <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
                <div class="image">
                <img src="logo.png" width=250px/>
                    </div>
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="hompage.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="ourteam.html">Our Team</a></li>
                    <li class="nav-item"><a class="nav-link" href=#>Login</a></li>
                    <li class="nav-item"><a class="nav-link" href=#>Sign Up</a></li>
                </ul>
                
            </nav>
        </header>
        <main>
            <div class="container">
        <section>
            <h2>About Us</h2>
            <h4>DeepBreath is made by Students, for Students.</h4>
            <h4>Chat with other students 100% Anonomously.</h4>
            <h4>Talk to a professional, get advice.</h4>
            <h4>School is stressful, we get it.</h4>
            
        </section>
        </div>
        </main>
        <footer>
            <p><i>Copyright BC HACKS 2020 &copy;</i></p>
        </footer>
    </body>


</html>