<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DeepBreath</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/ufu0kna.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" href="bootstrap.min.css" />
        <link rel="stylesheet" href="app.css" />
        <script src="main.js"></script>



    </head>
    <body>
        <header>
            
            <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
                <div class="image">
                <img src="logo.png" width=250px/>
                    </div>
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="ourteam.html">Our Team</a></li>
                    <li class="nav-item"><a class="nav-link" href=#>Login</a></li>
                    <li class="nav-item"><a class="btn btn-primary btn-lg" href=# id="signin-button">Sign Up</a></li>
                </ul>
                
            </nav>
        </header>
        <main>
            <div class="container">
        <section>
            <h2>Made by Students, for Students. DeepBreath is safe space for everyone.</h2>
            <h4>Chat with your peers 100% anonymously. We're here for you.</h4>
            <a href ="chat.html" class="btn btn-info" role="button">Start Chatting</a>
        </section>
        </div>
        </main>
        <footer>
            <p><i>Copyright BC HACKS 2020 &copy;</i></p>
        </footer>
    </body>


</html>