<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DeepBreath</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css"
        <link rel="stylesheet" href="https://use.typekit.net/ufu0kna.css">
    </head>
    <body>
        <header>
            
            <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
                <div class="image">
                <a href="homepage.html"><img src="logo.png" width=250px/></a>
                    </div>
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="ourteam.html">Our Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html">Join a Room</a></li>
                    <li class="nav-item"><a class="nav-link" href="register.html">Sign Up</a></li>
                </ul>
                
            </nav>
        </header>
    <div class="container">
        <form method="POST">
            <button class="btn btn-info btn-lg" type="submit">Login with BlockStack</button>
        </form>
        Don't have an account? <a href="register.html" target="blank">Sign Up with BlockStack</a>
    </div>
</body>
</html>
{% endblock %}