<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DeepBreath</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css"
        <link rel="stylesheet" href="https://use.typekit.net/ufu0kna.css">
    </head>
    <body>
        <header>
            
            <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
                <div class="image">
                    <a href="homepage.html"><img src="logo.png" width=250px/></a>
                    </div>
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Join a Room</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href=#>Login</a></li>
                    <li class="nav-item"><a class="nav-link" href=#>Sign Up</a></li>
                </ul>
                
            </nav>
        </header>
        <main>
            <div class="container">
        <section>
            <h2>BC Hacks 2020 Team</h2>
            <h4>Paige Latimer - Bachelor of Media Studies</h4>
            <h4>Quinn Wright - Bachelor of Computer Science</h4>
            <h4>Dalmarr Hussein - Bachelor of Media Studies</h4>
            <h4>Guiliano Barella - Bachelor of Computer Science</h4>
            
        </section>
        </div>
        </main>
        <footer>
            <p><i>Copyright BC HACKS 2020 &copy;</i></p>
        </footer>
    </body>


</html>